html, body {
  margin: 0;
  padding: 0;
  background-color:#181818
}
canvas {
  display: block;
}
body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}